<div class="matter-list" tabindex="-1">

  <ag-grid-angular #agGrid
                   class="ag-bootstrap table sorting-header"
                   [rowData]="matterEntries"
                   [rowHeight]="50"
                   [gridOptions]="gridOptions"
                   (gridReady)="onGridReady($event)"
                   (gridSizeChanged)="onGridSizeChanged($event)">
  </ag-grid-angular>


</div>
