.width-14 {
    width: 14%;
}

.width-8 {
    width: 8%;
}

.width-18 {
    width: 18%;
}

.width-3 {
    width: 3%;
}

.width-46 {
  width: 46%;
}

.width-54 {
  width: 54%;
}

.matter-list {
  height: 100%;
}
